// Fonts
$font_primary: "Montserrat", sans-serif;

// Colors
$color_green: #4cb8b3;
$color_pink: #f53756;
$color_yellow: #fdda00;
$color_purple: #752f97;
$color_black : #000;
$color_white : #fff;

// Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;