@use "base/variables" as v;

.header{
    background-color: v.$color_green;
    .header-content{
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        color: v.$color_white;
        margin: 0;
    }
}

.navigation-main{
    display: flex;
    gap: 2rem;
    a{
        color: v.$color_white;
        font-size: 2.4rem;
        &:hover{
            color: v.$color_yellow;
        }
    }
}