@use "base/variables" as v;
@use "base/mixins" as m;

.header{
    background-color: v.$color_green;
    @include m.tablet {
        &.fixed{
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    .header-content{
        padding: 2rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    h1 {
        color: v.$color_white;
        text-align: center;
        @include m.tablet {
            margin: 0;
            text-align: left;
        }
    }
}

.navigation-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include m.tablet {
        flex-direction: row;
    }
    a{
        color: v.$color_white;
        font-size: 2.4rem;
        &:hover{
            color: v.$color_yellow;
        }
        &.active{
            color: v.$color_yellow;
        }
    }
}
