@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.video{
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;
    .overlay{
        position: absolute;
        inset: 0;
        background: linear-gradient(
            270deg,
            rgba(v.$color_purple, 60%),
            rgba(color.adjust(v.$color_purple, $lightness: -30%), 90%)
        );
        display: flex;
        align-items: center;
    }
    video{
        display: block;
        width: auto;
        @include m.desktop {
            width: 100%;
        }
    }
}

.content-video{
        z-index: 1;
        h2{
            color: v.$color_white;
            font-size: 7rem;
            margin: 0;
            text-align: center;
            @include m.tablet {
                text-align: left;
            }
        }
        p{
            color: v.$color_white;
            background-color: v.$color_pink;
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0;
            text-align: center;
            @include m.tablet {
                text-align: left;
            }
        }
}