@use "sass:color";
@use "base/variables" as v;
@use "base/mixins" as m;

.tickets-container{
    background-color: v.$color_green;
    h3{
        color: v.$color_white;
        text-align: center;
    }
}

.tickets{
    @include m.tablet {
        @include m.grid(2, 5rem);
    }
}

.pass{
    &:hover{
        transform: scale(1.1);
        transition: transform .3s ease-in-out;
    }
    &-name{
        font-size: 3.6rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        color: v.$color_white;
    }
    &-header, &-footer{
        padding: .5rem;
        p{
            text-align: center;
            color: v.$color_white;
            margin: 0;
        }
    }
    &-header{
        background-color: v.$color_pink;
        p{
            text-transform: uppercase;
            font-size: 2.2rem;
            padding: 1rem 0;
        }
    }
    &-body{
        background-color: v.$color_white;
        ul{
            @include m.list-reset;
            li{
                padding: 2rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
    &-footer{
        background-color: v.$color_white;
        padding: 3rem;
        p{
            font-size: 2.8rem;
            font-weight: 900;
            background-color: v.$color_purple;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;
            &:hover{
                background-color: color.adjust(v.$color_purple, $lightness: -10%);
            }
        }
    }
}